ul#options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quiz-navigation {
    margin: 20px 0px;
}

ul#options li {
    padding: 5px 0px;
}

#hint-text{
    display: none;
}

#progress-tracker {
    height: 30px;
    background: bisque;
    margin: 28px 0px;
    width: 100%;
}

#bar{
    height: 30px;
    background: red;
    width: 0%;
    text-align: center;
}